# PYTHON DATA TYPES

### PYTHON VARIABLES

In [ ]:
varibale_name = variable_value

### INTEGERS

In [1]:
x = 5

In [2]:
y = 2

In [3]:
age = 25

In [4]:
number = 4

### FLOATS

In [5]:
height = 7.3

In [6]:
weight = 45.8

In [7]:
price = 3.5

In [8]:
n = 1.0

### BOOLEAN

In [9]:
is_married = True

In [10]:
is_student = False

### STRINGS

In [28]:
name = "CoreDataEngineers"

In [12]:
country = "Germany"

In [13]:
nationality = "Nigerian"

In [14]:
address = "4 random street"

In [75]:
random_characters = "fhbvh56b"

### PRINT KEYWORD

Python `print()` keyword is used to output python objects to the screen

In [23]:
print("Welcome to Core Data Engineers Bootcamp")

Welcome to Core Data Engineers Bootcamp

In [15]:
x = 5

In [16]:
print(x)

5

In [17]:
address = "5 python street"

In [18]:
print(address)

5 python street

In [19]:
height = 6.6

In [20]:
print(height)

6.6

In [21]:
is_older_than_5 = False

In [22]:
print(is_older_than_5)

False

### DATA TYPES CHECKS

In [26]:
age = 25

In [27]:
print(type(x))

<class 'int'>

In [29]:
name = "CoreDataEngineers"

In [30]:
print(type(name))

<class 'str'>

In [43]:
bad_integer = "100"

In [44]:
print(type(bad_integer))

<class 'str'>

In [45]:
bad_float = "3.9"

In [47]:
print(type(bad_float))

<class 'str'>

In [76]:
random_str = "name3455"

In [77]:
print(type(random_str))

<class 'str'>

In [31]:
is_married = True

In [32]:
print(type(is_married))

<class 'bool'>

In [33]:
height = 7.7

In [34]:
print(type(height))

<class 'float'>

### DATA TYPE CASTING

In [ ]:
# Convert integer type to float

In [35]:
x = 5

In [36]:
print(type(x))

<class 'int'>

In [37]:
convert_x_to_float = float(x)

In [38]:
print(convert_x_to_float)

5.0

In [ ]:
# Convert float type to integer

In [39]:
weight = 23.8

In [40]:
print(type(weight))

<class 'float'>

In [41]:
convert_weight_to_integer = int(weight)

In [42]:
print(convert_weight_to_integer)

23

In [48]:
# Convert integer wrapped in string to integer

In [49]:
x = "5"

In [57]:
print(x)

5

In [50]:
print(type(x))

<class 'str'>

In [51]:
convert_string_int_to_actual_integer = int(x)

In [52]:
print(convert_string_int_to_actual_integer)

5

In [53]:
print(type(convert_string_int_to_actual_integer))

<class 'int'>

In [54]:
# Convert float wrapped in string to float

In [55]:
k = "2.5"

In [58]:
print(k)

2.5

In [56]:
print(type(k))

<class 'str'>

In [59]:
convert_string_float_to_actual_float = float(k)

In [60]:
print(type(convert_string_float_to_actual_float))

<class 'float'>

In [61]:
# Convert integer wrapped in string to float

In [62]:
x = "5"

In [65]:
convert_str_int_to_float = float(x)

In [66]:
print(convert_str_int_to_float)

5.0

In [67]:
# Convert float wrapped in string to integer

In [69]:
years = "2.5"

In [70]:
convert_str_float_to_int = int(years)

ValueError: invalid literal for int() with base 10: '2.5'

In [72]:
convert_str_float_to_int = int(float(years))

In [74]:
print(type(convert_str_float_to_int))

<class 'int'>

### STRING METHODS

https://www.w3schools.com/python/python_ref_string.asp